<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movies</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>

 <!-- Card para apresentar o filme-->
 <ion-card>
  <img alt="Silhouette of mountains" src="assets/img/card2.png" />
  <ion-card-header>
    <ion-card-title>Novidades</ion-card-title>
    <ion-card-subtitle>Ultimos filmes</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Insira aqui um texto bonitinho
  </ion-card-content>
</ion-card>

<ion-card>
  <img alt="Silhouette of mountains" src="assets/img/card1.png" />
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>