<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<app-explore-container name="Filmes e séries para assistir"></app-explore-container>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--<app-explore-container name="Tab 2 page"></app-explore-container>-->
</ion-content>

<!--Colocar aqui os tipos de filmes de terror e tals ou o que eu colocar da API-->
<ion-card color="primary">
  <ion-card-header>
    <ion-card-title>nome</ion-card-title>
    <ion-card-subtitle>mensagem</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>dados</ion-card-content>
</ion-card>

<ion-card color="secondary">
  <ion-card-header>
    <ion-card-title>nome</ion-card-title>
    <ion-card-subtitle>mensagem</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>dados </ion-card-content>
</ion-card>

<ion-card color="tertiary">
  <ion-card-header>
    <ion-card-title>nome</ion-card-title>
    <ion-card-subtitle>mensagem</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>dados </ion-card-content>
</ion-card>

<ion-card color="success">
  <ion-card-header>
    <ion-card-title>nome</ion-card-title>
    <ion-card-subtitle>mensagem</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>dados </ion-card-content>
</ion-card>

<ion-card color="warning">
  <ion-card-header>
    <ion-card-title>nome</ion-card-title>
    <ion-card-subtitle>mensagem</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>dados </ion-card-content>
</ion-card>

<ion-card color="danger">
  <ion-card-header>
    <ion-card-title>nome</ion-card-title>
    <ion-card-subtitle>mensagem</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>dados </ion-card-content>
</ion-card>

<ion-card color="light">
  <ion-card-header>
    <ion-card-title>nome</ion-card-title>
    <ion-card-subtitle>mensagem</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>dados </ion-card-content>
</ion-card>

<ion-card color="medium">
  <ion-card-header>
    <ion-card-title>nome</ion-card-title>
    <ion-card-subtitle>mensagem</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>dados </ion-card-content>
</ion-card>

<ion-card color="dark">
  <ion-card-header>
    <ion-card-title>nome</ion-card-title>
    <ion-card-subtitle>mensagem</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>dados </ion-card-content>
</ion-card>